{% extends "base.html" %}
{% block content %}

<div class="container py-4">
    <div class="card mx-auto shadow-sm" style="max-width: 700px;">
        {% if product.image %}
            <img src="{{ product.image }}" class="card-img-top" style="max-height: 400px; object-fit: cover;">
        {% endif %}

        <div class="card-body">

            <h2 class="card-title">{{ product.title }}</h2>

            <p class="text-muted">
                Категория: {{ product.category }}
            </p>

           <p> Описание:
               {% if product.description %} {{ product.description }}
               {% else %} Нет описания {% endif %}
           </p>
            <h4 class="text-success">
                Цена: {{ product.price }}
            </h4>

            <p>
                Остаток: {{product.remainder}}
            </p>

            <p class="text-secondary">
                Добавлено: {{ product.created }}
            </p>

            <a href="{% url 'update' product.id %}" class="card-link">
                Изменить
            </a>

            <a href="{% url 'delete' product.id %}" class="card-link text-danger">
                Удалить
            </a>

        </div>
    </div>
</div>

{% endblock %}