{% extends 'base.html' %}
{% block content %}

<div class="container py-4">
    <div class="card shadow-sm mx-auto" style="max-width: 500px;">
        <div class="card-body">

            <h3 class="mb-3">Create Product</h3>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-2">
                    <label class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" required>
                </div>

                <div class="mb-2">
                    <label class="form-label">Description</label>
                    <input type="text" name="description" class="form-control">
                </div>

                <div class="mb-2">
                    <label class="form-label">Category</label>
                    <select name="category" class="form-select" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}">
                                {{ category.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-2">
                    <label class="form-label">Price</label>
                    <input type="number" name="price" class="form-control" required>
                </div>

                <div class="mb-2">
                    <label class="form-label">Remainder</label>
                    <input type="number"  name="remainder" class="form-control" >
                </div>

                <div class="mb-3">
                    <label class="form-label">Image</label>
                    <input type="url" name="image" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Create Product
                </button>

            </form>

        </div>
    </div>
</div>

{% endblock %}